{% extends 'base.html.twig' %}

{% block title %}Ajouter une note{% endblock %}

{% block body %}
<h1>Ajouter une note </h1>

       {{ form_start(formAddNotes) }}

<div>
    {{ form_row(formAddNotes.note) }}
    <p>Ajouter la note dans :</p>
    <div>
        {{ form_row(formAddNotes.noteDeTete) }}
    </div>
    <div>
        {{ form_row(formAddNotes.noteDeCoeur) }}
    </div>
    <div>
        {{ form_row(formAddNotes.noteDeFond) }}
    </div>
    {{ form_row(formAddNotes.submit) }}
</div>

{{ form_end(formAddNotes) }}


{% endblock %}