{% extends 'base.html.twig' %}

{% block title %}Hello ParfumController!{% endblock %}

{% block body %}
<div class ='parfum'>

      <div class="image-detail-parfum">
      {% set imagePath = asset("" ~ parfum.image) %}
      <img src="{{ imagePath }}">
      </div>

      <div>
        {# {% if isFavori %}
        <p>Déjà dans vos favoris.</p> #}
    {# {% else %} #}
    <a href="#" id="addFavoriButton" data-parfum-id="{{ parfum.id }}" data-user-id="{{ app.user.id }}" data-method="POST" data-path="{{ path('add_favori', {'parfumId': 'PARFUM_ID', 'userId': 'USER_ID' }) }}">Ajouter aux favoris</a>

    
    {# {% endif %} #}
    </div>

      <div class='info-parfum'>
           <br> <h1>{{parfum.nom}}</h1>
           <a href="{{path('detail_marque',{"id":marque.id})}}"> {{parfum.marque}} </a>

            <h4>Gamme de Prix:</h4>
            
            <h4>Note de Tête: </h4>
            {% for noteTete in parfum.noteTete %}
            {{ noteTete.nom }}<br>
            {% endfor %}
            
            <h4>Note de Coeur: </h4>
            {% for noteCoeur in parfum.noteCoeur %}
            {{ noteCoeur.nom }}<br>
            {% endfor %}
            
            <h4>Note de Fond:</h4>
            {% for noteFond in parfum.noteFond %}
            {{ noteFond.nom }}<br>
            {% endfor %}
      </div>
      
</div>

<div class="dupe-cart">
      <h2>Les dupes</h2>
      
    {% if parfum.dupe is not empty %}
        {% for dupe in dupes %}
       
            {% set dupeImagePath = asset("" ~ dupe.image) %}
            <a href="{{ path('detail_parfum', {'id': dupe.id}) }}">
                <div class="clicking-area">
                    <img src="{{ dupeImagePath }}"><br>
                    {{ dupe.nom }} <br>
                </div>
            </a>
            <a>{{ parfum.dupe[0].marque }}</a> <br>
            {% include "components/like.html.twig" %}
            {% endfor %}
            
            
                    {% else %}
            
            
                  {% endif %}
</div>


<div class="dupe"></div>
  <a href="{{ path('add_dupe', {'id': parfum.id}) }}"> Ajouter un dupe</a><br>
</div>

<div class=" commentaire">
<h2>Commentaire(s)</h2>
    <div='Nouveau Commentaire'>
        {{form_start(form)}}
        {{form_label(form.contenu,'Nouveau Commentaire')}}
        {{form_widget(form.contenu)}}
        <button type="submit">Poster un commentaire</button>
        {{form_end(form)}}

    </div>
{% for commentaire in parfum.commentaires %}
    {% if commentaire.isApprouved %}

    {% endif %}
{{commentaire.user.pseudo}}<br>
{{commentaire.contenu}}<br>

{% endfor %}

</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            // Le script AJAX pour ajouter aux favoris
            $('#addFavoriButton').on('click', function () {
                var parfumId = $(this).data('parfum-id');
                var userId = $(this).data('user-id');
            // replace remplace le nombre de repetition des chaines ParfumID et UserID (c'est juste esthétique)
                var url = $(this).data('path').replace('PARFUM_ID', parfumId).replace('USER_ID', userId);


                if (!parfumId || !userId) {
                    alert('Erreur: parfumId ou userId non défini.');
                    return;
                }

                // Effectuer une requête AJAX pour ajouter le favori
                $.ajax({
                    type: 'POST',
                    url: path,
                    success: function (data) {
                        // Le favori a été ajouté avec succès
                        // Vous pouvez ajouter ici une logique pour mettre à jour l'affichage ou afficher un message de confirmation
                        alert('Le parfum a été ajouté aux favoris.');
                    },
                    error: function (xhr, status, error) {
                        // En cas d'erreur, vous pouvez gérer l'affichage d'un message d'erreur approprié
                        alert('Une erreur est survenue lors de l\'ajout aux favoris : ' + error);
                    }
                });
            });
        });
    </script>
{% endblock %}


