{% extends 'base.html.twig' %}

{% block title %}Hello ParfumController!{% endblock %}

{% block body %}
<div class ='parfum'>

      <div class="image-detail-parfum">
      {% set imagePath = asset("" ~ parfum.image) %}
      <img src="{{ imagePath }}">
      </div>

      <div class='info-parfum'>
           <br> <h1>{{parfum.nom}}</h1>
           <a href="{{path('detail_marque',{"id":marque.id})}}"> {{parfum.marque}} </a>

            <h4>Gamme de Prix:</h4>
            
            <h4>Note de Tête: </h4>
            {% for noteTete in parfum.noteTete %}
            {{ noteTete.nom }}<br>
            {% endfor %}
            
            <h4>Note de Coeur: </h4>
            {% for noteCoeur in parfum.noteCoeur %}
            {{ noteCoeur.nom }}<br>
            {% endfor %}
            
            <h4>Note de Fond:</h4>
            {% for noteFond in parfum.noteFond %}
            {{ noteFond.nom }}<br>
            {% endfor %}
      </div>
</div>

{% endblock %}