{% extends 'base.html.twig' %}

{% block title %}Hello ParfumController!{% endblock %}

{% block body %}
     <h1>Les Fragrances</h1>
     <a href="{{ path('add_parfum')}}"> Ajouter un parfum</a><br>
     <a href="{{ path('add_marque')}}"> Ajouter une marque</a><br>
     <a href="{{ path('add_note')}}"> Ajouter une note</a><br>



     <div class="filter">
         {% include 'parfum/filter.html.twig' with {form:form} only %}
     
     </div>
      {% for parfum in parfums %}
      {% set imagePath = asset("" ~ parfum.image) %}

        <div class="parfum-cart">
          
          <a href="{{path('detail_parfum',{"id":parfum.id})}}">
            <div class="clicking-area" > 
              <img src="{{ imagePath }}"><br>
              {{parfum.nom }} <br>
            </div>
          </a>

          <a>  {{parfum.marque}} </a> <br>
        </div>     

      {% endfor %}


    <br>
   </div>
{% endblock %}

{# <div class="container">
  <h1>Dernieres nouveautés</h1>
  <h1> Le catalogue </h1>
  <h1> Toutes les marques </h1>
  <h1> Les ingrédients <h1>
</div> #}